# Ignore list of files and folders of the project.

/Bulls and Cows/Library
/Bulls and Cows/Temp
/Bulls and Cows/obj
/Bulls and Cows/.vs
/Bulls and Cows/Assembly-CSharp.csproj
/Bulls and Cows/Bulls and Cows.sln
/Bulls and Cows/Bulls and Cows.userprefs
